body{
  background-image: url(https://c4.wallpaperflare.com/wallpaper/11/782/486/syncfade-wallpaper-preview.jpg);
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 100%;
  color: azure;
}

@media only screen and (max-width: 600px){
  body{
    background-image: url(https://w0.peakpx.com/wallpaper/839/754/HD-wallpaper-colors-shade-colors-shade-background.jpg);
  }
}

.update-btn{
  background-color: gold;
}

.delete-btn{
  background-color: red;
  margin-left: 20px;
}

.create-btn{
  background-color: lawngreen;
}

.update-btn,.delete-btn,.create-btn{
  cursor: pointer;
}

table,tr,td,button{
  border:1px solid black;
  border: solid;
  font-size: x-large;
}


th{
  border:1px solid black;
  background-color: rgb(209, 63, 63);
}

td{
  padding: 20px;
  background-image: url(https://www.shutterstock.com/shutterstock/videos/1092305825/thumb/1.jpg?ip=x480);
  background-repeat: no-repeat;
  background-size: 100%;
}

table{
  margin-top: 30px;
  border-radius: 2px;
  margin-left: 10%;
  border-color: black;
}

button{
  border-radius: 2px;
  transition: transform 0.15s;
}
button:hover{
  transform: scale(1.05);
}
button:active{
  transform: scale(0.9);
}

.create-btn{
  margin-left: 10%;
}